<section id="what-we-do" *ngIf="isVendor == '0'">
  <div class="container">
    <div class="container-fluid">
      <h2 class="section-title">Recruitment Process</h2>

      <div class="row mt-5">
        <div
          class="col-sm-3 col-lg-3 col-md-3"
          *ngIf="subMenuAccess('Job Request')"
        >
          <div class="card">
            <div class="card-block block-1">
              <h5 class="card-title">Job Request</h5>
              <!-- <p class="card-text">Manage All Job Requests</p> -->
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/job-request"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <div
          class="col-sm-3 col-lg-3 col-md-3"
          *ngIf="subMenuAccess('Candidate Details')"
        >
          <div class="card">
            <div class="card-block block-2">
              <h5 class="card-title">Candidate Details</h5>
              <!-- <p class="card-text">Manage All Candidate Details</p> -->
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/candidate-details"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <div
          class="col-sm-3 col-lg-3 col-md-3"
          *ngIf="subMenuAccess('Resume Shortlist')"
        >
          <div class="card">
            <div class="card-block block-3">
              <h5 class="card-title">Resume Shortlist</h5>
              <!-- <p class="card-text">To Shortlist the Resume</p> -->
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/resume-shortlist"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <div
          class="col-sm-3 col-lg-3 col-md-3"
          *ngIf="subMenuAccess('Interview Process')"
        >
          <div class="card">
            <div class="card-block block-4">
              <h5 class="card-title">Schedule Interview</h5>
              <!-- <p class="card-text">Manage Interview Scheduling and Result</p> -->
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/schedule-interview"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <div
          class="col-sm-3 col-lg-3 col-md-3"
          *ngIf="subMenuAccess('Interview Process')"
        >
          <div class="card">
            <div class="card-block block-5">
              <h5 class="card-title">Interview Process</h5>
              <!-- <p class="card-text">Manage Interview Scheduling and Result</p> -->
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/internal-round1"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <div
          class="col-sm-3 col-lg-3 col-md-3"
          *ngIf="subMenuAccess('BU Head Approval')"
        >
          <div class="card">
            <div class="card-block block-6">
              <h5 class="card-title">BU Head Approval</h5>
              <!-- <p class="card-text">To Approve the Candidate for Selection</p> -->
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/bu-head-approval"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <div
          class="col-sm-3 col-lg-3 col-md-3"
          *ngIf="subMenuAccess('Onboard Details')"
        >
          <div class="card">
            <div class="card-block block-7">
              <h5 class="card-title">Onboard Details</h5>
              <!-- <p class="card-text">To Onboard the Selected Candidates</p> -->
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/on-board-det"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="what-we-do" *ngIf="isVendor == '1'">
  <div class="container">
    <div class="container-fluid">
      <h2 class="section-title">Recruitment Process</h2>

      <div class="row mt-5">
        <div class="col-sm-3 col-lg-3 col-md-3">
          <div class="card">
            <div class="card-block block-1">
              <h5 class="card-title">Job Request</h5>
              <!-- <p class="card-text">Manage All Job Requests</p> -->
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/vendor-job-request"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3">
          <div class="card">
            <div class="card-block block-2">
              <h5 class="card-title">Candidate Details</h5>
              <!-- <p class="card-text">Manage All Candidate Details</p> -->
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/candidate-details"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
