tbody {
  font-size: 12px;
}
ul.dropdown-menu.dropdown-menu-default.jello.show {
  width: max-content;
}
a.dropdown-toggle.btn.btn-tbl-edit.btn-xs {
  color: white;
}

label {
  font-size: 12px;
  color: gray;
}
.card-body {
  padding: 10px 24px 14px 24px;
  position: relative;
  background-color: white;
}
.card-box:hover,
.card-topline-aqua {
  transform: translateY(0px);
  box-shadow: 0 0 25px -5px #9e9c9e;
}
#addModal .modal-dialog,
#exampleModal .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
}
.card-body.card-box {
  height: 310px;
}
img#buImg {
  margin-left: 70px;
  height: 366px;
}
.card-body.card-box {
  box-shadow: 0 0 25px -5px #9e9c9e;
  border: 1px solid silver;
}
.col-sm-4.col-md-4 {
  font-size: 14px;
}
