################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
node_modules
# Local Netlify folder
.netlify
*.zip
