body {
  background-color: white;
}
section {
  padding: 66px 0;
}
section .section-title {
  text-align: center;
  color: #1254a1 !important;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#what-we-do {
  background: #ffffff;
}
#what-we-do .card {
  padding: 1rem !important;
  /* border: none; */
  margin-bottom: 1rem;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
/* #what-we-do .card:hover {
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
} */
#what-we-do .card .card-block {
  padding-left: 60px;
  position: relative;
}
#what-we-do .card .card-block a {
  color: #1254a1 !important;
  font-weight: 700;
  text-decoration: none;
}
#what-we-do .card .card-block a i {
  display: none;
}
#what-we-do .card:hover .card-block a i {
  display: inline-block;
  font-weight: 700;
}
#what-we-do .card .card-block:before {
  font-family: FontAwesome;
  position: absolute;
  font-size: 39px;
  color: #1254a1 !important;
  left: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
#what-we-do .card .block-1:before {
  content: "\f0c0";
}
#what-we-do .card .block-2:before {
  content: "\f507";
}

#what-we-do .card:hover .card-block:before {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1300px;
}

.card {
  position: relative;
  margin-bottom: 24px;
  /* margin-top: 10px; */
  background-color: white;
  border-radius: 3px;
  border: 1px solid silver;
}

.card:hover {
  background-color: #aae3fdab;
}
