<section id="what-we-do">
  <div class="container">
    <div class="container-fluid">
      <h2 class="section-title">Human Resource</h2>

      <div class="row mt-5">
        <!-- resource Management -->
        <div class="col-2"></div>
        <div class="col-3" *ngIf="subMenuAccess('Recruitment')">
          <div class="card">
            <div class="card-block block-3">
              <h5 class="card-title">Recruitment</h5>
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/recruitment-menus"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-3" *ngIf="subMenuAccess('Resource Management')">
          <div class="card">
            <div class="card-block block-1">
              <h5 class="card-title">Resource Management</h5>
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/employee-details"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- Vendor Management -->
        <div class="col-3" *ngIf="subMenuAccess('Vendor Management')">
          <div class="card">
            <div class="card-block block-2">
              <h5 class="card-title">Vendor Management</h5>
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/vendor-management"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
</section>
