<section id="what-we-do">
  <div class="container">
    <div class="container-fluid">
      <h2 class="section-title">Services</h2>

      <div class="row mt-5">
        <!-- resource Management -->
        <div class="col-3"></div>
        <div class="col-3">
          <div class="card">
            <div class="card-block block-1">
              <h5 class="card-title">Resource Management</h5>
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/employee-details"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- Vendor Management -->
        <div class="col-3">
          <div class="card">
            <div class="card-block block-2">
              <h5 class="card-title">Vendor Management</h5>
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/vendor-management"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>
</section>
