<div class="container-fluid">
  <div class="page-bar">
    <div class="page-title-breadcrumb">
      <div class="pull-left"></div>
    </div>
  </div>

  <div class="tab-pane">
    <div class="col-md-12 col-sm-12">
      <div class="card card-box">
        <div class="card-head bg-pan-left">
          <header>Add Candidate</header>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckDefault"
              [(ngModel)]="multipleCandidate"
            />
            <label class="form-check-label1" for="flexSwitchCheckDefault"
              >Add Multiple Candidate</label
            >
          </div>
        </div>

        <div class="card-body" id="bar-parent10">
          <form
            #f="ngForm"
            name="form"
            novalidate
            (ngSubmit)="addNewcandidate(f)"
            enctype="multipart/form-data"
          >
            <div class="row col-md-12 col-sm-12">
              <div class="col-md-4 col-sm-4">
                <label for="Customer">Job Request Reference</label>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">#</span>
                  <input
                    type="text"
                    value="{{ CurrentJRNumber }}"
                    disabled
                    class="form-control"
                    required="required"
                  />
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="Customer"
                  >First Name&nbsp;<span style="color: red">*</span></label
                >
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-address-book"></i
                  ></span>
                  <input
                    [(ngModel)]="candidate.firstName"
                    name="firstName"
                    type="text"
                    maxlength="14"
                    class="form-control"
                    required
                    #firstName="ngModel"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': f.submitted && firstName.invalid
                    }"
                  />
                  <div
                    *ngIf="f.submitted && firstName.invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="firstName.errors.required">
                      First Name is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="Customer"
                  >Last Name&nbsp;<span style="color: red">*</span></label
                >
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-address-book"></i
                  ></span>
                  <input
                    [(ngModel)]="candidate.lastName"
                    name="lastName"
                    type="text"
                    maxlength="14"
                    class="form-control"
                    required
                    #lastName="ngModel"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': f.submitted && lastName.invalid
                    }"
                  />
                  <div
                    *ngIf="f.submitted && lastName.invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="lastName.errors.required">
                      Last Name is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row col-md-12 col-sm-12">
              <div class="col-md-4 col-sm-4">
                <label for="Customer"
                  >Contact Number&nbsp;<span style="color: red">*</span></label
                >
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-phone" aria-hidden="true"></i
                  ></span>
                  <input
                    [(ngModel)]="candidate.contactNumber"
                    name="contactNumber"
                    type="text"
                    maxlength="14"
                    (keypress)="onlyNumber($event)"
                    class="form-control"
                    required
                    #contactNumber="ngModel"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': f.submitted && contactNumber.invalid
                    }"
                  />
                  <div
                    *ngIf="f.submitted && contactNumber.invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="contactNumber.errors.required">
                      Contact Number is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="Customer"
                  >Email&nbsp;<span style="color: red">*</span></label
                >
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-envelope-o" aria-hidden="true"></i
                  ></span>
                  <input
                    [(ngModel)]="candidate.email"
                    name="email"
                    type="text"
                    maxlength="50"
                    class="form-control"
                    required
                    #email="ngModel"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': f.submitted && email.invalid
                    }"
                  />
                  <div
                    *ngIf="f.submitted && email.invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="email.errors.required">Email is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="Customer"
                  >Gender&nbsp;<span style="color: red">*</span></label
                >
                <div class="input-group mb-3 radiodiv">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-transgender-alt"></i></span
                  >&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="form-check form-check-inline">
                    <input
                      [(ngModel)]="candidate.sex"
                      name="sex"
                      required
                      #sex="ngModel"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': f.submitted && sex.invalid
                      }"
                      class="form-check-input"
                      type="radio"
                      id="inlineRadio1"
                      value="Male"
                    />
                    <label class="form-check-label" for="inlineRadio1"
                      >Male</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      [(ngModel)]="candidate.sex"
                      name="sex"
                      required
                      #sex="ngModel"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': f.submitted && sex.invalid
                      }"
                      name="sex"
                      class="form-check-input"
                      type="radio"
                      id="inlineRadio2"
                      value="Female"
                    />
                    <label class="form-check-label" for="inlineRadio2"
                      >Female</label
                    >
                  </div>
                </div>
                <div
                  *ngIf="f.submitted && sex.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="sex.errors.required">Gender is required</div>
                </div>
              </div>
            </div>
            <br />
            <div class="row col-md-12 col-sm-12">
              <div class="col-md-4 col-sm-4">
                <label for="Customer"
                  >Years of Experience(in years)&nbsp;<span style="color: red"
                    >*</span
                  ></label
                >
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-clock-o"></i
                  ></span>
                  <input
                    [(ngModel)]="candidate.experience"
                    name="experience"
                    type="text"
                    maxlength="25"
                    class="form-control"
                    required
                    #experience="ngModel"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': f.submitted && experience.invalid
                    }"
                  />
                  <div
                    *ngIf="f.submitted && experience.invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="experience.errors.required">
                      Years Of Experience is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="Customer"
                  >Current Company Name&nbsp;<span style="color: red"
                    >*</span
                  ></label
                >
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-building-o"></i
                  ></span>
                  <input
                    [(ngModel)]="candidate.currentCompany"
                    name="currentCompany"
                    type="text"
                    maxlength="50"
                    class="form-control"
                    required
                    #currentCompany="ngModel"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': f.submitted && currentCompany.invalid
                    }"
                  />
                  <div
                    *ngIf="f.submitted && currentCompany.invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="currentCompany.errors.required">
                      Current Company Name is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="Customer"
                  >Candidate Type&nbsp;<span style="color: red">*</span></label
                >
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-file-o"></i
                  ></span>

                  <select
                    [(ngModel)]="candidate.candidateType"
                    name="candidateType"
                    required
                    #candidateType="ngModel"
                    class="form-select"
                    [ngClass]="{
                      'is-invalid': f.submitted && candidateType.invalid
                    }"
                  >
                    <option
                      class="dropdown-item"
                      disabled
                      selected
                      value="undefined"
                    >
                      Select Candidate Type
                    </option>
                    <!-- <option value="Internal" *ngIf="placementFor != 'Internal'">
                      Internal
                    </option>-->
                    <option value="External">External</option>
                  </select>

                  <div
                    *ngIf="f.submitted && candidateType.invalid"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="candidateType.errors.required"
                      style="color: #dc3545; font-size: 90%"
                    >
                      Candidate Type is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row col-md-12 col-sm-12">
              <div class="col-md-4 col-sm-4">
                <label for="Customer"
                  >Skill Set&nbsp;<span style="color: red">*</span></label
                >
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-list"></i
                  ></span>
                  <textarea
                    [(ngModel)]="candidate.skillSet"
                    name="skillSet"
                    class="form-control"
                    required
                    #skillSet="ngModel"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': f.submitted && skillSet.invalid
                    }"
                  ></textarea>
                  <div
                    *ngIf="f.submitted && skillSet.invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="skillSet.errors.required">
                      Skill Set is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="Customer"
                  >Resume Upload&nbsp;<span style="color: red">*</span></label
                >
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-file-o"></i
                  ></span>
                  <input
                    #resumeId
                    accept=".doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                    type="file"
                    class="form-control"
                    (change)="onResumeChanged($event)"
                  /><span style="color: silver; font-size: 14px">
                    * Please upload the file with maximum size of 256 KB.
                  </span>
                </div>
              </div>
            </div>
            <br />
            <div class="row col-md-12 col-sm-12">
              <div class="col-md-2 col-sm-2">
                <input
                  type="submit"
                  class="form-control btn btn-primary"
                  value="Save"
                />
              </div>
              <div class="col-md-2 col-sm-2">
                <input
                  (click)="gotoback()"
                  type="button"
                  class="form-control btn btn-secondary"
                  value="Cancel"
                />
              </div>
            </div>
          </form>
        </div>
        <br />
      </div>
    </div>

    <div
      class="modal fade"
      data-backdrop="static"
      data-keyboard="false"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h4 class="modal-title" id="exampleModalLabel">
              Do you want to upload Image for this candidate?
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="cancel()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form enctype="multipart/form-data">
              <br />
              <label for="Customer"
                >Image Upload&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-user-tie"></i
                ></span>
                <input
                  #imageId
                  type="file"
                  (change)="onImgChanged($event)"
                  accept="image/*"
                  type="file"
                  class="form-control"
                />
              </div>
              <span style="color: silver; font-size: 14px">
                * Please upload the image with maximum size of 256 KB.
              </span>
              <br />

              <!-- <input
                (click)="cancel()"
                type="submit"
                class="btn btn-circle btn-secondary"
                value="cancel"
              /> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="preloader" *ngIf="loader == 1">
  <div id="loader"></div>
</div>
