<section id="what-we-do">
  <div class="container">
    <div class="container-fluid">
      <h2 class="section-title">Project Management</h2>

      <div class="row mt-5">
        <div class="col">
          <div class="card">
            <div class="card-block block-1">
              <h5 class="card-title">Project Allocation</h5>
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/project-allocation"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-block block-2">
              <h5 class="card-title">Team Members</h5>
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/project-team"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-block block-2">
              <h5 class="card-title">Botminds PDF</h5>
              <a
                href="javascript:void(0)"
                routerLink="/hirepros/botminds-pdf"
                title="More Details"
                class="read-more"
                >More Details<i class="fa fa-angle-double-right ml-2"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
