<div class="container-fluid">
  <div class="page-bar">
    <div class="page-title-breadcrumb">
      <div class="pull-left"></div>
    </div>
  </div>

  <div class="tab-content tab-space">
    <div class="tab-pane active show" id="tab1">
      <div class="row">
        <div class="col-md-12">
          <div class="card-box">
            <div class="card-body">
              <div class="table-scrollable">
                <div class="row col-md-12 col-sm-12">
                  <div class="col-sm-4 col-md-4 text-muted">
                    Configurations / Page Access
                  </div>

                  <div class="col-sm-4 col-md-4" id="search">
                    <form
                      #kf="ngForm"
                      name="form"
                      novalidate
                      (ngSubmit)="searchMenu(kf)"
                    >
                      <div class="input-group mb-3">
                        <input
                          type="text"
                          maxlength="35"
                          [(ngModel)]="menu.keyword"
                          class="form-control"
                          name="keyword"
                          placeholder="Search Menu..."
                        />

                        &nbsp;
                        <input
                          type="submit"
                          style="
                            background-color: #706e6e !important;
                            color: white;
                          "
                          class="btn btn-xs searchbtn"
                          value="Search"
                        />
                        &nbsp; &nbsp;

                        <input
                          (click)="loadMenus()"
                          type="button"
                          style="
                            background-color: #706e6e !important;
                            color: white;
                          "
                          class="btn btn-xs resetbtn"
                          value="Reset"
                        />
                      </div>
                    </form>
                  </div>

                  <div class="col-sm-2 col-md-2">
                    <!-- <ul class="nav navbar-nav pull-right">
                      <li class="dropdown dropdown-user">
                        <a
                          class="dropdown-toggle btn btn-primary btn-sm"
                          data-toggle="modal"
                          data-target="#addMainMenuModal"
                          style="font-size: 12px"
                        >
                          <i class="fa fa-plus"></i>New Main Menu
                        </a>
                      </li>
                    </ul> -->
                  </div>
                  <div class="col-sm-2 col-md-2">
                    <!-- <ul class="nav navbar-nav pull-right">
                      <li class="dropdown dropdown-user">
                        <a
                          class="dropdown-toggle btn btn-primary btn-sm"
                          data-toggle="modal"
                          data-target="#addSubMenuModal"
                          style="font-size: 12px"
                        >
                          <i class="fa fa-plus"></i>New Sub Menu
                        </a>
                      </li>
                    </ul> -->
                  </div>
                </div>

                <table class="table table-hover table-checkable full-width">
                  <thead class="bg-listHeader">
                    <tr>
                      <th>#</th>
                      <th>Menu</th>
                      <th>Sub Menu</th>
                      <th>Updated By</th>
                      <th>Updated On</th>
                      <!-- <th>Action</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      class="odd gradeX"
                      *ngFor="
                        let item of menuList
                          | paginate
                            : {
                                itemsPerPage: pageSize,
                                currentPage: page,
                                totalItems: count
                              };
                        let i = index
                      "
                    >
                      <td class="user-circle-img sorting_1">
                        {{ (page - 1) * pageSize + i + 1 }}
                      </td>
                      <td>{{ item.mainMenuName }}</td>
                      <td>{{ item.menuName }}</td>
                      <td>{{ item.updatedByName }}</td>
                      <td>
                        {{ item.updatedDateTime + "Z" | date: "short" }}
                      </td>
                      <!-- <td>
                        <ul class="nav navbar-nav pull-left">
                          <li class="dropdown dropdown-user delete">
                            <a
                              *ngIf="item.menuName == '-'"
                              (click)="getId(item.id)"
                              class="dropdown-toggle btn btn-tbl-edit btn-xs"
                              data-toggle="modal"
                              data-target="#editMainMenuModal"
                            >
                              <i class="fa fa-pencil"></i>
                            </a>
                            <a
                              *ngIf="item.menuName != '-'"
                              (click)="getId(item.id)"
                              class="dropdown-toggle btn btn-tbl-edit btn-xs"
                              data-toggle="modal"
                              data-target="#editSubMenuModal"
                            >
                              <i class="fa fa-pencil"></i>
                            </a>
                          </li>
                        </ul>

                        <ul class="nav navbar-nav pull-left">
                          <li class="dropdown dropdown-user edit">
                            <a
                              href="javascript:;"
                              data-toggle="dropdown"
                              data-hover="dropdown"
                              data-close-others="true"
                              class="dropdown-toggle btn btn-tbl-delete btn-xs"
                              aria-expanded="false"
                              ><i class="fa fa-trash-o"></i
                            ></a>
                            <ul
                              class="dropdown-menu dropdown-menu-default jello"
                            >
                              <li>
                                <div class="card-body">
                                  <label
                                    >Sure You Want to Delete the Menu ? </label
                                  ><br />
                                  <button
                                    (click)="deleteMenu(item.id)"
                                    type="button"
                                    class="btn btn-circle btn-danger"
                                  >
                                    Yes
                                  </button>
                                  <button
                                    type="button"
                                    class="btn btn-circle btn-info"
                                  >
                                    No
                                  </button>
                                </div>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </td> -->
                    </tr>
                    <br />
                  </tbody>
                </table>
              </div>
              <div
                class="row col-md-12 col-sm-12 col-lg-12"
                style="height: 32px"
              >
                <div class="col-md-4 col-sm-4 col-lg-4" style="font-size: 14px">
                  Items per Page:
                  <select (change)="handlePageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                      {{ size }}
                    </option>
                  </select>
                </div>
                <div
                  class="col-md-4 col-sm-4 col-lg-4 text-muted"
                  style="font-size: 14px"
                >
                  Total No.of Record(s): {{ menuList.length }}
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 pull-right">
                  <pagination-controls
                    previousLabel="Prev"
                    nextLabel="Next"
                    responsive="true"
                    (pageChange)="handlePageChange($event)"
                  ></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- editMainMenuModal -->
    <div
      class="modal fade"
      data-backdrop="static"
      data-keyboard="false"
      id="editMainMenuModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h4 class="modal-title" id="exampleModalLabel">Edit Main Menu</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="clearMenusField()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              #f="ngForm"
              name="form"
              novalidate
              (ngSubmit)="updateMainMenu(f)"
            >
              <br />
              <label for="Customer"
                >Main Menu&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-bars" aria-hidden="true"></i
                ></span>
                <input
                  type="text"
                  maxlength="35"
                  [(ngModel)]="menu.mainMenuName"
                  class="form-control"
                  name="mainMenuName"
                  required
                  #mainMenuName="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && mainMenuName.invalid
                  }"
                />

                <div
                  *ngIf="f.submitted && mainMenuName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="mainMenuName.errors.required">
                    Menu Name is required
                  </div>
                </div>
              </div>
              <!-- <label for="Customer"
                >Page Link&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-link" aria-hidden="true"></i
                ></span>

                <input
                  type="text"
                  maxlength="35"
                  [(ngModel)]="menu.pageLink"
                  class="form-control"
                  name="pageLink"
                  required
                  #pageLink="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && pageLink.invalid
                  }"
                />
                <div
                  *ngIf="f.submitted && pageLink.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="pageLink.errors.required">
                    Page Link is required
                  </div>
                </div>
              </div> -->
              <br />
              <input
                type="submit"
                class="btn btn-circle btn-primary"
                value="update"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- editSubMenuModal -->
    <div
      class="modal fade"
      data-backdrop="static"
      data-keyboard="false"
      id="editSubMenuModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h4 class="modal-title" id="exampleModalLabel">Edit Sub Menu</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="clearMenusField()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              #subf="ngForm"
              name="form"
              novalidate
              (ngSubmit)="updateSubMenu(subf)"
            >
              <label for="Customer"
                >Main Menu&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-bars" aria-hidden="true"></i
                ></span>

                <select
                  class="form-select"
                  name="mainMenuId"
                  [(ngModel)]="menu.mainMenuId"
                  required
                  #mainMenuId="ngModel"
                  [ngClass]="{
                    'is-invalid': subf.submitted && mainMenuId.invalid
                  }"
                >
                  <option
                    class="dropdown-item"
                    disabled
                    selected
                    value="undefined"
                  >
                    Select Main Menu
                  </option>
                  <option
                    *ngFor="let item of mainMenuList"
                    value="{{ item.mainMenuId }}"
                  >
                    {{ item.mainMenuName }}
                  </option>
                </select>
                <div
                  *ngIf="subf.submitted && mainMenuId.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="mainMenuId.errors.required">
                    Main Menu is required
                  </div>
                </div>
              </div>
              <label for="Customer"
                >Sub Menu&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-bars" aria-hidden="true"></i
                ></span>
                <input
                  type="text"
                  maxlength="35"
                  [(ngModel)]="menu.menuName"
                  class="form-control"
                  name="menuName"
                  required
                  #menuName="ngModel"
                  [ngClass]="{
                    'is-invalid': subf.submitted && menuName.invalid
                  }"
                />

                <div
                  *ngIf="subf.submitted && menuName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="menuName.errors.required">
                    Menu Name is required
                  </div>
                </div>
              </div>
              <!-- <label for="Customer"
                >Page Link&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-link" aria-hidden="true"></i
                ></span>

                <input
                  type="text"
                  maxlength="35"
                  [(ngModel)]="menu.pageLink"
                  class="form-control"
                  name="pageLink"
                  required
                  #pageLink="ngModel"
                  [ngClass]="{
                    'is-invalid': subf.submitted && pageLink.invalid
                  }"
                />
                <div
                  *ngIf="subf.submitted && pageLink.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="pageLink.errors.required">
                    Page Link is required
                  </div>
                </div>
              </div> -->
              <br />
              <input
                type="submit"
                class="btn btn-circle btn-primary"
                value="update"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- addMainMenu -->
    <div
      class="modal fade"
      data-backdrop="static"
      data-keyboard="false"
      id="addMainMenuModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h4 class="modal-title" id="exampleModalLabel">Add Main Menu</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="clearMenusField()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #f="ngForm" name="form" novalidate (ngSubmit)="addNewMenu(f)">
              <br />
              <label for="Customer"
                >Main Menu&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-bars" aria-hidden="true"></i
                ></span>
                <input
                  type="text"
                  maxlength="35"
                  [(ngModel)]="menu.mainMenuName"
                  class="form-control"
                  name="mainMenuName"
                  required
                  #mainMenuName="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && mainMenuName.invalid
                  }"
                />

                <div
                  *ngIf="f.submitted && mainMenuName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="mainMenuName.errors.required">
                    Menu Name is required
                  </div>
                </div>
              </div>
              <!-- <label for="Customer"
                >Page Link&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-link" aria-hidden="true"></i
                ></span>

                <input
                  type="text"
                  maxlength="35"
                  [(ngModel)]="menu.pageLink"
                  class="form-control"
                  name="pageLink"
                  required
                  #pageLink="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && pageLink.invalid
                  }"
                />
                <div
                  *ngIf="f.submitted && pageLink.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="pageLink.errors.required">
                    Page Link is required
                  </div>
                </div>
              </div> -->
              <br />
              <input
                type="submit"
                class="btn btn-circle btn-primary"
                value="save"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- addSubMenu -->
    <div
      class="modal fade"
      data-backdrop="static"
      data-keyboard="false"
      id="addSubMenuModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h4 class="modal-title" id="exampleModalLabel">Add Sub Menu</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="clearMenusField()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              #subf="ngForm"
              name="form"
              novalidate
              (ngSubmit)="addNewSubMenu(subf)"
            >
              <label for="Customer"
                >Main Menu&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-bars" aria-hidden="true"></i
                ></span>

                <select
                  class="form-select"
                  name="mainMenuId"
                  [(ngModel)]="menu.mainMenuId"
                  required
                  #mainMenuId="ngModel"
                  [ngClass]="{
                    'is-invalid': subf.submitted && mainMenuId.invalid
                  }"
                >
                  <option
                    class="dropdown-item"
                    disabled
                    selected
                    value="undefined"
                  >
                    Select Main Menu
                  </option>
                  <option
                    *ngFor="let item of mainMenuList"
                    value="{{ item.mainMenuId }}"
                  >
                    {{ item.mainMenuName }}
                  </option>
                </select>
                <div
                  *ngIf="subf.submitted && mainMenuId.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="mainMenuId.errors.required">
                    Main Menu is required
                  </div>
                </div>
              </div>
              <label for="Customer"
                >Sub Menu&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-bars" aria-hidden="true"></i
                ></span>
                <input
                  type="text"
                  maxlength="35"
                  [(ngModel)]="menu.menuName"
                  class="form-control"
                  name="menuName"
                  required
                  #menuName="ngModel"
                  [ngClass]="{
                    'is-invalid': subf.submitted && menuName.invalid
                  }"
                />

                <div
                  *ngIf="subf.submitted && menuName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="menuName.errors.required">
                    Menu Name is required
                  </div>
                </div>
              </div>
              <!-- <label for="Customer"
                >Page Link&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-link" aria-hidden="true"></i
                ></span>

                <input
                  type="text"

                  maxlength="35"
                  [(ngModel)]="menu.pageLink"
                  class="form-control"
                  name="pageLink"
                  required
                  #pageLink="ngModel"
                  [ngClass]="{
                    'is-invalid': subf.submitted && pageLink.invalid
                  }"
                />
                <div
                  *ngIf="subf.submitted && pageLink.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="pageLink.errors.required">
                    Page Link is required
                  </div>
                </div>
              </div> -->
              <br />
              <input
                type="submit"
                class="btn btn-circle btn-primary"
                value="save"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="preloader" *ngIf="loader == 1">
  <div id="loader"></div>
</div>
