.head {
  color: rgb(9, 44, 121);
}
label {
  font-size: 12px;
  color: gray;
}
input.form-control.btn.btn-circle.btn-primary {
  position: inherit;
  float: left;
}
tbody {
  font-size: 12px;
}

i.fa.fa-transgender-alt {
  height: 18px;
  margin-top: 2px;
}
input#inlineRadio1,
input#inlineRadio2 {
  height: 16px;
  width: 28px;
}
.input-group.mb-3.radiodiv {
  border: 1px solid silver;
  border-radius: 4px;
}
.table thead tr th {
  font-size: 14px;
  font-weight: 500;
}
a.btn.btn-circle.btn-tbl-edit.btn-sm,
a.btn.btn-circle.btn-tbl-delete.btn-sm {
  width: fit-content;
}
.col-md-6.col-sm-6.right {
  border-right: 2px solid silver;
}
.badge.headerBadgeColor3 {
  background-color: #2196f3;
}
.badge.BadgeColor {
  border: 1px solid silver;
  color: black;
  height: 26px;
  width: 30px;
  padding-top: 7px;
  background-color: white;
}
input.form-control.btn.btn-primary.col-sm-6.col-md-6 {
  height: 40px;
}
i.fa.fa-info {
  font-size: 15px;
  width: 10px;
}
.col-sm-4.col-md-4 {
  font-size: 14px;
}

ng-select {
  width: 80%;
  color: black;
}
tbody {
  font-size: 12px;
}
ul.dropdown-menu.dropdown-menu-default.jello.show {
  width: max-content;
}
a.dropdown-toggle.btn.btn-tbl-edit.btn-xs {
  color: white;
}

label {
  font-size: 12px;
  color: gray;
}
.card-body {
  padding: 10px 24px 14px 24px;
  position: relative;
  background-color: white;
}
.card-box:hover,
.card-topline-aqua {
  transform: translateY(0px);
  box-shadow: 0 0 25px -5px #9e9c9e;
}
#exampleModal .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto;
}
.card-body.card-box {
  height: 310px;
}
img#buImg {
  margin-left: 13px;
  height: 366px;
  width: 470px;
}
.card-body.card-box {
  box-shadow: 0 0 25px -5px #9e9c9e;
  border: 1px solid silver;
}
input.btn.btn-circle.btn-xs.searchbtn {
  color: black;
}
input.btn.btn-circle.btn-xs.clearbtn {
  color: black;
}
.col-sm-4.col-md-4 {
  font-size: 14px;
}
select.form-control.form-select {
  max-width: max-content;
}
.input-group.mb-3.row.col-md-12.col-sm-12 {
  padding-right: 0px;
  border-top: 2px solid silver;
  margin-left: -4px;
}
span#basic-addon2 {
  width: 123px;
  justify-content: center;
  background-color: #706e6e !important;
}
/* advanced ddl */
.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}
.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
  #adv-search {
    margin: 0 auto;
  }
  .dropdown.dropdown-lg {
    position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 350px;
  }
}
.lblTerminated {
  background: red;
  border: 1px solid red;
  color: white;
}
.lblClosed {
  background: green;
  border: 1px solid green;
  color: white;
}
.lblHold {
  background: #aabe38;
  color: white;
  border: 1px solid #aabe38;
}
.lblOpen {
  background: #38b6ff;
  border: 1px solid #38b6ff;
  color: white;
}
.lblCommentStyle {
  background: #1254a1 !important;
  border: 1px solid #1254a1 !important;
  color: white;
}
.table-scrollable {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  /* border: 1px solid #e7ecf1; */
  margin: 10px 0 !important;
  display: initial;
}
a.btn.btn-tbl-add.btn-xs.disabled {
  cursor: not-allowed;
}
i.fa.fa-plus-circle {
  font-size: 14px;
}

.btn-tbl-ai {
  background-color: #00b97e;
  border-radius: 50% !important;
  padding: 5px !important;
  color: #fff !important;
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
}
