<div class="container-fluid">
  <div class="page-bar">
    <div class="page-title-breadcrumb"></div>
  </div>

  <div class="tab-content tab-space">
    <div class="tab-pane active show" id="tab1">
      <div class="row">
        <div class="col-md-12">
          <div class="card-box">
            <div class="card-body">
              <div class="table-scrollable">
                <div class="row col-md-12 col-sm-12">
                  <div
                    class="col-md-4 col-sm-4 text-muted"
                    style="font-size: 14px"
                  >
                    Dashboard / My Work Items / My Job Requests
                  </div>
                  <div
                    style="font-size: 14px"
                    class="col-md-4 col-md-4 text-muted"
                  >
                    <form
                      class="form-horizontal"
                      role="form"
                      #kf="ngForm"
                      name="form"
                      novalidate
                      (ngSubmit)="search(kf)"
                    >
                      <div class="input-group" id="adv-search">
                        <input
                          type="text"
                          placeholder="Search for Job Request"
                          name="jrNumber"
                          class="form-control"
                          [(ngModel)]="searchJobReq.jrNumber"
                        />
                        <div class="input-group-btn">
                          <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                              <button
                                type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false"
                              >
                                <i
                                  class="fa fa-angle-down"
                                  aria-hidden="true"
                                ></i>
                              </button>
                              <div
                                class="dropdown-menu dropdown-menu-right"
                                role="menu"
                                id="MenuCard"
                                syle="    position: absolute;
                                top: 39px;
                                left: -282px;"
                              >
                                <form
                                  class="form-horizontal"
                                  role="form"
                                  #kf="ngForm"
                                  name="form"
                                  novalidate
                                  (ngSubmit)="search(kf)"
                                >
                                  <div class="form-group">
                                    <label for="filter">Filter by</label>
                                    <select
                                      class="form-select"
                                      name="buId"
                                      [(ngModel)]="searchJobReq.buId"
                                    >
                                      <option
                                        class="dropdown-item"
                                        disabled
                                        selected
                                        value="undefined"
                                      >
                                        Select Business Unit
                                      </option>
                                      <option
                                        *ngFor="let item of bulist"
                                        value="{{ item.id }}"
                                      >
                                        {{ item.businessUnitName }}
                                      </option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <select
                                      class="form-select"
                                      name="jobReqStatus"
                                      [(ngModel)]="searchJobReq.jobReqStatus"
                                    >
                                      <option
                                        class="dropdown-item"
                                        disabled
                                        selected
                                        value="undefined"
                                      >
                                        Select Status
                                      </option>
                                      <option
                                        class="dropdown-item"
                                        value="In Progress"
                                      >
                                        In Progress
                                      </option>
                                      <option
                                        class="dropdown-item"
                                        value="Yet to Start"
                                      >
                                        Open
                                      </option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <select
                                      class="form-select"
                                      name="jobReqStatus"
                                      [(ngModel)]="searchJobReq.employmentType"
                                    >
                                      <option
                                        class="dropdown-item"
                                        disabled
                                        selected
                                        value="undefined"
                                      >
                                        Select Employment Type
                                      </option>
                                      <option value="Full Time">
                                        Full Time
                                      </option>
                                      <option value="Contract">Contract</option>
                                    </select>
                                  </div>
                                  <div
                                    class="form-group"
                                    *ngIf="isVendor == '0'"
                                  >
                                    <select
                                      class="form-select"
                                      name="vendorPriority"
                                      [(ngModel)]="searchJobReq.vendorPriority"
                                    >
                                      <option
                                        class="dropdown-item"
                                        disabled
                                        selected
                                        value="undefined"
                                      >
                                        Select Vendor Priority
                                      </option>
                                      <option value="Primary">Primary</option>
                                      <option value="All">
                                        Primary & Secondary
                                      </option>
                                    </select>
                                  </div>
                                  <button type="submit" class="btn btn-primary">
                                    <i
                                      class="fa fa-search"
                                      aria-hidden="true"
                                    ></i>
                                  </button>
                                </form>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                              <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-sm-2 col-md-2" *ngIf="resetBtn">
                    <a
                      href="javascript:void(0)"
                      (click)="reset()"
                      style="font-size: 14px; margin: 11px"
                    >
                      Reset All</a
                    >
                  </div>
                  <div class="col-sm-2 col-md-2" *ngIf="!resetBtn"></div>

                  <div class="col-sm-2 col-md-2">
                    <ul
                      class="nav navbar-nav pull-left"
                      *ngIf="enableSubMenu('JobRequest_Add')"
                    >
                      <li class="dropdown dropdown-user">
                        <a
                          class="dropdown-toggle btn btn-primary btn-sm"
                          (click)="gotoNewJobRequest()"
                          style="font-size: 12px"
                        >
                          <i class="fa fa-plus"></i>New Job Request
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <br />
                <table class="table table-hover table-checkable full-width">
                  <thead class="bg-listHeader">
                    <tr>
                      <th>#</th>
                      <th>Job Request #</th>
                      <th>Business Unit</th>
                      <th>Recruitment Role</th>
                      <th>Progress</th>
                      <th>Status</th>
                      <th>Requested By</th>
                      <th>Recruiter</th>
                      <th
                        class="center"
                        *ngIf="enableAddCandidate('Candidate_Add')"
                      >
                        Add
                      </th>
                      <th
                        *ngIf="
                          enableSubMenu('JobRequest_Edit') &&
                          enableSubMenu('JobRequest_Edit')
                        "
                      >
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngFor="
                        let item of jobReqList
                          | paginate
                            : {
                                itemsPerPage: pageSize,
                                currentPage: page,
                                totalItems: count
                              };
                        let i = index
                      "
                    >
                      <tr>
                        <td (click)="item.expanded = !item.expanded">
                          {{ item.expanded ? "&ndash;" : "+" }}
                        </td>
                        <td>
                          <a
                            href="javascript:void(0)"
                            style="text-decoration: underline"
                            (click)="gotoJobReqView(item.referenceNumber)"
                            >{{ item.referenceNumber }}</a
                          >
                        </td>
                        <td>{{ item.buName }}</td>
                        <td>{{ item.roleName }}</td>
                        <td>
                          <div class="progress">
                            <div
                              class="progress-bar"
                              role="progressbar"
                              [style.width.%]="item.progress"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                          <span
                            class="text-muted center"
                            style="font-size: 10px"
                          >
                            {{ item.closedOpenings }} /
                            {{ item.noOfOpenings }} ({{ item.progress }}%)
                          </span>
                        </td>
                        <td>
                          <span
                            class="feedLblStyle lblOpen"
                            *ngIf="item.jobReqStatus == 'Yet to Start'"
                            >Open</span
                          >
                          <span
                            class="feedLblStyle lblCommentStyle"
                            *ngIf="item.jobReqStatus == 'In Progress'"
                            >In Progress</span
                          >
                          <span
                            class="feedLblStyle lblTaskStyle"
                            *ngIf="item.jobReqStatus == 'Completed'"
                            >Completed</span
                          >
                          <span
                            class="feedLblStyle lblTerminated"
                            *ngIf="item.jobReqStatus == 'Terminated'"
                            >Terminated</span
                          >
                          <span
                            class="feedLblStyle lblClosed"
                            *ngIf="item.jobReqStatus == 'Closed'"
                            >Closed</span
                          >
                          <span
                            class="feedLblStyle lblHold"
                            *ngIf="item.jobReqStatus == 'Hold'"
                            >Hold</span
                          >
                        </td>
                        <td>
                          {{ item.requesterName }}
                        </td>
                        <td>{{ item.recruiterName }}</td>
                        <td
                          class="center"
                          *ngIf="enableAddCandidate('Candidate_Add')"
                        >
                          <a
                            *ngIf="
                              item.jobReqStatus == 'Yet to Start' ||
                              item.jobReqStatus == 'In Progress'
                            "
                            class="btn btn-tbl-add btn-xs"
                            data-toggle="tooltip"
                            data-placement="left"
                            title="Add External Candidate"
                            (click)="
                              gotoAddCandidate(
                                item.referenceNumber,
                                item.roleName,
                                item.placementFor
                              )
                            "
                          >
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                          </a>
                          <a
                            *ngIf="
                              (item.jobReqStatus == 'Yet to Start' ||
                                item.jobReqStatus == 'In Progress') &&
                              item.placementFor == 'Customer'
                            "
                            class="btn btn-tbl-add-bench btn-xs"
                            data-toggle="tooltip"
                            data-placement="left"
                            title="Add Bench Candidate"
                            (click)="
                              gotoBenchCandidateList(item.referenceNumber)
                            "
                          >
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                          </a>
                          <a
                            *ngIf="
                              item.jobReqStatus == 'Terminated' ||
                              item.jobReqStatus == 'Closed' ||
                              item.jobReqStatus == 'Hold' ||
                              item.jobReqStatus == 'Completed'
                            "
                            class="btn btn-tbl-add btn-xs disabled"
                            data-toggle="tooltip"
                            data-placement="left"
                            title="Cannot Add Candidate"
                          >
                            <i class="fa fa-ban" aria-hidden="true"></i>
                          </a>
                        </td>

                        <td
                          *ngIf="
                            enableSubMenu('JobRequest_Edit') &&
                            enableSubMenu('JobRequest_Edit')
                          "
                        >
                          <!-- recruiterAdd -->
                          <ng-container *ngIf="enableSubMenu('Recruiter_Add')">
                            <a
                              *ngIf="
                                item.jobReqStatus == 'Terminated' ||
                                item.jobReqStatus == 'Closed'
                              "
                              class="btn btn-tbl-view btn-xs disabled"
                              data-toggle="tooltip"
                              data-placement="left"
                              title="Cannot Add Candidate"
                            >
                              <i class="fa fa-ban" aria-hidden="true"></i>
                            </a>
                            <a
                              *ngIf="
                                item.jobReqStatus == 'Yet to Start' ||
                                item.jobReqStatus == 'In Progress' ||
                                item.jobReqStatus == 'Hold' ||
                                item.jobReqStatus == 'Completed'
                              "
                              class="btn btn-tbl-view btn-xs"
                              data-toggle="tooltip"
                              data-placement="left"
                              title="Add Recruiter"
                              data-toggle="modal"
                              data-target="#exampleModal"
                              (click)="getJRNumber(item.id)"
                            >
                              <i class="fa fa-plus"></i>
                            </a>
                          </ng-container>
                          <!-- Edit Job Request -->
                          <ng-container
                            *ngIf="enableSubMenu('JobRequest_Edit')"
                          >
                            <a
                              *ngIf="
                                item.jobReqStatus == 'Terminated' ||
                                item.jobReqStatus == 'Closed'
                              "
                              class="btn btn-tbl-edit btn-xs disabled"
                            >
                              <i class="fa fa-ban" aria-hidden="true"></i>
                            </a>
                            <a
                              *ngIf="
                                item.jobReqStatus == 'Yet to Start' ||
                                item.jobReqStatus == 'In Progress' ||
                                item.jobReqStatus == 'Hold' ||
                                item.jobReqStatus == 'Completed'
                              "
                              href="javascript:void(0)"
                              class="btn btn-tbl-edit btn-xs"
                              data-toggle="tooltip"
                              data-placement="left"
                              title="Edit"
                              data-toggle="tooltip"
                              data-placement="left"
                              title="Edit"
                              (click)="updateJobReq(item.id)"
                            >
                              <i class="fa fa-pencil"></i>
                            </a>
                          </ng-container>
                          <a
                            *ngIf="enableDeleteIcon('Delete')"
                            class="btn btn-tbl-delete btn-xs"
                            data-toggle="tooltip"
                            data-placement="left"
                            title="Delete"
                            data-toggle="dropdown"
                            data-hover="dropdown"
                            data-close-others="true"
                          >
                            <i class="fa fa-trash-o"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-default jello">
                            <li>
                              <div class="card-body">
                                <label
                                  >Sure You Want to Delete the Job Request? </label
                                ><br />
                                <button
                                  type="button"
                                  class="btn btn-circle btn-danger"
                                  (click)="deleteJobReq(item.id)"
                                >
                                  Yes
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-circle btn-info"
                                >
                                  No
                                </button>
                              </div>
                            </li>
                          </ul>
                        </td>
                      </tr>

                      <ng-container *ngIf="item.expanded">
                        <tr *ngFor="let details of findDetails(item)">
                          <td style="padding-left: 12px"></td>
                          <td
                            colspan="3"
                            data-toggle="tooltip"
                            data-placement="left"
                            title="{{ details.customerNameInDetail }} | {{
                              details.buName
                            }}| {{ details.employmentType }} | {{
                              details.placementFor
                            }}  "
                          >
                            {{ details.customerNameInDetail }} |
                            {{ details.employmentType }} |
                            {{ details.placementFor }}
                          </td>
                          <td></td>
                          <td></td>
                          <td>
                            {{ details.updatedDateTime | date: shortDate }}
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </table>

                <div
                  class="row col-md-12 col-sm-12 col-lg-12 paginate"
                  style="height: 29px"
                >
                  <br />
                  <div
                    class="col-md-4 col-sm-4 col-lg-4"
                    style="font-size: 14px"
                  >
                    Items per Page:
                    <select (change)="handlePageSizeChange($event)">
                      <option *ngFor="let size of pageSizes" [ngValue]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                  <div
                    class="col-md-4 col-sm-4 col-lg-4 text-muted"
                    style="font-size: 14px"
                  >
                    Total No.of Record(s): {{ jobReqList.length }}
                  </div>
                  <div class="col-md-4 col-sm-4 col-lg-4 pull-right">
                    <pagination-controls
                      previousLabel="Prev"
                      nextLabel="Next"
                      responsive="true"
                      (pageChange)="handlePageChange($event)"
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- recruiterModal -->
    <div
      class="modal fade"
      data-backdrop="static"
      data-keyboard="false"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h4 class="modal-title" id="exampleModalLabel">Select Recruiter</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              #uf="ngForm"
              name="form"
              novalidate
              (ngSubmit)="updateRecruiter(uf)"
            >
              <br />
              <label for="Customer"
                >Recruiter&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-user-edit"></i
                ></span>

                <ng-select
                  [(ngModel)]="jobReq.recruiterId"
                  placeholder="Select Recruiter"
                  name="recruiterId"
                >
                  <ng-option
                    *ngFor="let item of recruitersList"
                    [value]="item.id"
                  >
                    {{ item.fullName }}</ng-option
                  >
                </ng-select>
                <!-- <div
                  *ngIf="uf.submitted && recruiterId.invalid"
                  class="help-block"
                >
                  <div
                    *ngIf="recruiterId.errors.required"
                    style="color: #dc3545; font-size: 90%"
                  >
                    Recruiter is required
                  </div>
                </div> -->
              </div>

              <br />
              <input
                type="submit"
                class="btn btn-circle btn-primary"
                value="update"
              />
            </form>
            <br />
          </div>
        </div>
      </div>
    </div>
    <!-- searchModal -->
    <div
      class="modal fade"
      data-backdrop="static"
      data-keyboard="false"
      id="searchModal"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h4 class="modal-title" id="exampleModalLabel">
              Search Job Request
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #kf="ngForm" name="form" novalidate (ngSubmit)="search(kf)">
              <div class="row col-sm-12 col-md-12">
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"
                      >Job Request #</span
                    >
                    <input
                      type="text"
                      placeholder="Job Request Number"
                      name="jrNumber"
                      class="form-control"
                      [(ngModel)]="searchJobReq.jrNumber"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"
                      >Status</span
                    >
                    <select
                      class="form-select"
                      name="jobReqStatus"
                      [(ngModel)]="searchJobReq.jobReqStatus"
                    >
                      <option
                        class="dropdown-item"
                        disabled
                        selected
                        value="undefined"
                      >
                        Select Status
                      </option>
                      <option class="dropdown-item" value="In Progress">
                        In Progress
                      </option>
                      <option class="dropdown-item" value="Closed">
                        Closed
                      </option>
                      <option class="dropdown-item" value="Yet to Start">
                        Open
                      </option>
                      <option class="dropdown-item" value="Hold">Hold</option>
                    </select>
                  </div>
                </div>
              </div>
              <br />
              <div class="row col-sm-12 col-md-12">
                <div class="col-sm-6 col-md-6">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"
                      >Business Unit</span
                    >
                    <select
                      class="form-select"
                      name="buId"
                      [(ngModel)]="searchJobReq.buId"
                    >
                      <option
                        class="dropdown-item"
                        disabled
                        selected
                        value="undefined"
                      >
                        Select Business Unit
                      </option>
                      <option *ngFor="let item of bulist" value="{{ item.id }}">
                        {{ item.businessUnitName }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"
                      >Customer</span
                    >
                    <select
                      class="form-select"
                      name="customerId"
                      [(ngModel)]="searchJobReq.customerId"
                    >
                      <option
                        class="dropdown-item"
                        disabled
                        selected
                        value="undefined"
                      >
                        Select Customer
                      </option>
                      <option
                        *ngFor="let item of cuslist"
                        value="{{ item.id }}"
                      >
                        {{ item.customerName }}, {{ item.location }},
                        {{ item.region }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <br />
              <div class="row col-sm-12 col-md-12">
                <div class="col-sm-6 col-md-6">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"
                      >Recruitment Role</span
                    >
                    <select
                      class="form-select"
                      name="roleId"
                      [(ngModel)]="searchJobReq.roleId"
                    >
                      <option
                        class="dropdown-item"
                        disabled
                        selected
                        value="undefined"
                      >
                        Select Recruitment Role
                      </option>
                      <option
                        *ngFor="let item of rolelist"
                        value="{{ item.id }}"
                      >
                        {{ item.recruitmentRoleName }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"
                      >Recruiter</span
                    >
                    <select
                      class="form-select"
                      name="recruiterId"
                      [(ngModel)]="searchJobReq.recruiterId"
                    >
                      <option
                        class="dropdown-item"
                        disabled
                        selected
                        value="undefined"
                        *ngIf="recruitersList.length > 0"
                      >
                        Select Recruiter
                      </option>
                      <option
                        *ngIf="recruitersList.length < 1"
                        class="dropdown-item"
                        disabled
                        selected
                        value="undefined"
                      >
                        No Recruiters
                      </option>
                      <option
                        *ngFor="let item of recruitersList"
                        value="{{ item.id }}"
                      >
                        {{ item.fullName }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <br />
              <div class="row col-sm-12 col-md-12">
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"
                      >Employment Type</span
                    >
                    <select
                      class="form-select"
                      name="jobReqStatus"
                      [(ngModel)]="searchJobReq.employmentType"
                    >
                      <option
                        class="dropdown-item"
                        disabled
                        selected
                        value="undefined"
                      >
                        Select Employment Type
                      </option>
                      <option value="Full Time">Full Time</option>
                      <option value="Contract">Contract</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"
                      >Placement For</span
                    >
                    <select
                      class="form-select"
                      name="jobReqStatus"
                      [(ngModel)]="searchJobReq.placementFor"
                    >
                      <option
                        class="dropdown-item"
                        disabled
                        selected
                        value="undefined"
                      >
                        Select Placement For
                      </option>
                      <option value="Internal">Internal</option>
                      <option value="External">External</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- <br />
              <div class="row col-sm-12 col-md-12">
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"
                      >From DateTime</span
                    >
                    <input
                      type="date"
                      name="fromDateTime"
                      class="form-control"
                      [(ngModel)]="searchJobReq.fromDateTime"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"
                      >To DateTime</span
                    >
                    <input
                      type="date"
                      name="toDateTime"
                      class="form-control"
                      [(ngModel)]="searchJobReq.toDateTime"
                    />
                  </div>
                </div>
              </div> -->
              <br />
              <div class="row col-sm-12 col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <input
                    type="submit"
                    value="Search"
                    style="width: 100%"
                    class="btn btn-primary"
                  />
                </div>
                <div class="col-md-4"></div>
              </div>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="preloader" *ngIf="loader == 1">
  <div id="loader"></div>
</div>
