<div class="container my-3">
  <div class="d-flex justify-content-center">
    <!-- <div class="p-2 bd-highlight">
            <button id="ratingdashboard" class="btn btn-outline-primary" routerLink="/ratingdashboard">New
                Entry</button>
        </div> -->
    <div class="p-2 bd-highlight">
      <button class="btn btn-outline-primary btn-tab" routerLink="/add-entry">
        Add Entry
      </button>
    </div>
    <div class="p-2 bd-highlight">
      <button class="btn btn-outline-primary btn-tab" routerLink="/entry-list">
        Entry List
      </button>
    </div>
    <ng-container *ngIf="SS_loginType == 'rating'">
      <div class="p-2 bd-highlight" >
        <button class="btn btn-outline-primary btn-tab" routerLink="/reviewlist">
          Review Teams Perfomance
        </button>
      </div>
      <div class="p-2 bd-highlight">
        <button class="btn btn-outline-primary btn-tab" routerLink="/levelupgrade-login"
        >
          Logout
        </button>
        </div>
    </ng-container>
    <ng-container *ngIf="SS_loginType == 'entry'">
      <div class="p-2 bd-highlight">
        <button class="btn btn-outline-primary btn-tab" routerLink="/entryLogin"
       >
          Logout
        </button>
        </div>
    </ng-container>
      <div class="p-2 bd-highlight" *ngIf="SS_loginType != 'rating'">
        <button class="btn btn-outline-primary btn-tab" routerLink="/entryLogin">
          Logout
        </button>
    </div>
  </div>
  <div class="row-12 text-center my-3">
    Welcome, {{ SS_currentUserName }} - {{ SS_Designation }}!
  </div>
  <div class="tableDiv card">
    <div class="d-flex my-2 p-2">
      <!--div class="p-2">
        <select
          class="form-select"
          required
          name="buId"
          [(ngModel)]="searchRating.buId"
        >
          <option class="dropdown-item" disabled selected value="undefined">
            Select Business Unit
          </option>
          <option *ngFor="let item of bulist" value="{{ item.id }}">
            {{ item.businessUnitName }}
          </option>
        </select>
      </div-->
      <div class="p-2">
        <select name="year" class="form-select" [(ngModel)]="yearSelection"
        (change)="onchangeYear()">
          <option value="undefined" selected>All</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
        </select>
      </div>
       <!-- <div class="p-2">
        <select name="status" class="form-select" [(ngModel)]="searchRating.status">
          <option value="undefined" disabled selected>Status</option>
          <option value="Open">Open</option>
          <option value="Closed">Closed</option>

        </select>
      </div>
      <div class="p-2">
        <button (click)="search()" class="btn btn-primary btn-sm">
          Search
        </button>
      </div>
      <div class="p-2">
        <button (click)="loadAchievements()" class="btn btn-secondary btn-sm">
          Clear
        </button>
      </div> -->
      <div class="p-2">
        <a
          (click)="downloadAccomplishmentReport()"
          class="dropdown-toggle btn btn-success btn-sm"
        >
          <i class="fa fa-download" aria-hidden="true"></i> Excel
        </a>
      </div>
    </div>
    <table class="table table-hover table-checkable full-width my-2">
      <thead class="bg-listHeader">
        <tr>
          <th>S.No</th>
          <th>Resource Name</th>
          <th>Achievements</th>
          <th>Rating</th>
          <th>Reviewed By</th>
          <th>Reviewed On</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of achievements

              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: count
                  };
                  let i = index
          "
        >
          <td>{{ (page - 1) * pageSize + i + 1 }}</td>
          <td>{{ item.resourceName }}</td>
          <td title="{{ item.achievements }}" style="width: 500px">
            {{
              item.achievements.length >= 174
                ? (item.achievements | slice: 0:174) + "..."
                : item.achievements
            }}
          </td>
          <td>{{ item.rating }}</td>
          <td>{{ item.ratingByname }}</td>
          <td *ngIf="item.reviewedOn != null">{{ item.reviewedOn + "Z" | date: "shortDate" }}</td>

          <td *ngIf="item.reviewedOn == null"> - </td>
          <td>
            <ng-container *ngIf="item.createdBy != SS_currentUserId">
              <ul class="nav navbar-nav pull-left">
                <li class="dropdown dropdown-user">
                  <a
                    class="dropdown-toggle btn btn-tbl-edit btn-xs"
                    data-toggle="modal"
                    data-target="#exampleModal"
                    (click)="getAch(item)"
                  >
                    <i class="fa fa-pencil"></i>
                  </a>
                </li>
              </ul>
            </ng-container>
            <ng-container *ngIf="item.createdBy == SS_currentUserId">
              <ul class="nav navbar-nav pull-left">
                <li class="dropdown dropdown-user">
                  <a class="disabled dropdown-toggle btn btn-tbl-edit btn-xs">
                    <i class="fa fa-pencil"></i>
                  </a>
                </li>
              </ul>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row col-md-12 col-sm-12 col-lg-12" style="height: 32px">
      <div class="col-md-4 col-sm-4 col-lg-4" style="font-size: 14px">
        Items per Page:
        <select (change)="handlePageSizeChange($event)">
          <option *ngFor="let size of pageSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>
      </div>
      <div
        class="col-md-4 col-sm-4 col-lg-4 text-muted"
        style="font-size: 14px"
      >
        Total No.of Record(s): {{ reviewLength }}
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4 pull-right">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          responsive="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- update Modal -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h4 class="modal-title" id="exampleModalLabel">Performance Rating</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" name="form" novalidate (ngSubmit)="updateRatings(f)">
          <div class="row form">
            <div class="row-12">
              Resource Name | Business Unit | Designation
            </div>
            <div class="row-12">
              <input
                type="text"
                class="form-control"
                value="{{ resourceDisplay }}"
                disabled
              />
            </div>
            <div class="row-12">Achievements</div>
            <div class="row-12">
              <textarea
                [(ngModel)]="updateRating.achievements"
                name="achievements"
                class="form-control"
                rows="5"
                disabled
              ></textarea>
            </div>
            <div class="row-12">Comments</div>
            <div class="row-12">
              <textarea
                type="text"
                [(ngModel)]="updateRating.comments"
                name="comments"
                class="form-control"
                rows="2"
              ></textarea>
            </div>
            <div class="row-12">Rating</div>
            <div class="row-12">
              <input
                type="radio"
                [(ngModel)]="updateRating.rating"
                name="rating"
                value="NA"
              />
              NA - Not Applicable
            </div>
            <div class="row-12">
              <input
                type="radio"
                [(ngModel)]="updateRating.rating"
                name="rating"
                value="NI"
              />
              NI - Need Improvement
            </div>
            <div class="row-12">
              <input
                type="radio"
                [(ngModel)]="updateRating.rating"
                id=""
                name="rating"
                value="ME"
              />
              ME - Meet Expectation
            </div>
            <div class="row-12">
              <input
                type="radio"
                [(ngModel)]="updateRating.rating"
                id=""
                name="rating"
                value="MA"
              />
              MA - Meet All Expectation
            </div>
            <div class="row-12">
              <input
                type="radio"
                [(ngModel)]="updateRating.rating"
                [(ngModel)]="updateRating.rating"
                id=""
                name="rating"
                value="EE"
              />
              EE - Exceed Expectation
            </div>
            <div class="row-12">
              <input
                type="radio"
                [(ngModel)]="updateRating.rating"
                id=""
                name="rating"
                value="EA"
              />
              EA - Exceed All Expectation
            </div>
            <div class="row-12 my-3">
              <button class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
        <br />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
