/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}


.container-fluid{
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
