<br />
<div class="container padding-bottom-3x mb-2">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-10">
      <h2>Forgot your password?</h2>
      <img id="hirepro" src="assets/img/Hireprous.png" />
      <p>You can reset your password in 3 easy steps as below.</p>
      <ol class="list-unstyled">
        <li>
          <span class="text-primary text-medium">1. </span>Fill in your
          Registered Email address below.
        </li>
        <li>
          <span class="text-primary text-medium">2. </span>You'll get OTP to
          your registered Email.
        </li>
        <li>
          <span class="text-primary text-medium">3. </span>Use the OTP to reset
          your password.
        </li>
      </ol>
      <form class="card mt-4">
        <div class="card-body mt-4">
          <div class="form-group">
            <div class="row col-lg-12 col-sm-12 col-md-12">
              <div class="step step1">
                1
                <img
                  *ngIf="tick1Icon"
                  class="tick"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/1200px-Flat_tick_icon.svg.png"
                  alt=""
                  srcset=""
                />
              </div>

              <div class="col-sm-6 col-lg-6 col-md-6">
                <input
                  [disabled]="!enableGetOTPBtn"
                  placeholder="Enter your email address"
                  class="form-control"
                  type="text"
                  name="email"
                  [(ngModel)]="forgetPasswordModel.email"
                />
              </div>
              <div class="col-sm-3 col-lg-3 col-md-3">
                <button
                  [disabled]="!enableGetOTPBtn"
                  (click)="checkEmailAndSendOtp()"
                  class="btn btn-primary center"
                  type="button"
                >
                  Check and Send OTP
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer center"></div>
      </form>
      <form class="card mt-4">
        <div class="card-body mt-4">
          <div class="form-group">
            <div class="row col-lg-12 col-sm-12 col-md-12">
              <div class="step step2">
                2
                <img
                  *ngIf="tick2Icon"
                  class="tick"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/1200px-Flat_tick_icon.svg.png"
                  alt=""
                  srcset=""
                />
              </div>
              <div class="col-sm-6 col-lg-6 col-md-6">
                <input
                  [disabled]="!enableVerifyOTPBtn"
                  placeholder="Enter OTP"
                  class="form-control"
                  type="text"
                  name="Otp"
                  [(ngModel)]="forgetPasswordModel.otp"
                />
              </div>
              <div class="col-sm-3 col-lg-3 col-md-3">
                <button
                  (click)="checkOtp()"
                  [disabled]="!enableVerifyOTPBtn"
                  class="btn btn-primary center"
                  type="submit"
                >
                  Verify OTP
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer center"></div>
      </form>
      <form class="card mt-4">
        <div class="card-body mt-4">
          <div class="form-group">
            <div class="row col-lg-12 col-sm-12 col-md-12">
              <div class="step step3">
                3
                <img
                  *ngIf="tick3Icon"
                  class="tick"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/1200px-Flat_tick_icon.svg.png"
                  alt=""
                  srcset=""
                />
              </div>
              <div class="col-sm-4 col-lg-4 col-md-4">
                <input
                  [disabled]="!enableresetNewPass"
                  placeholder="New Password"
                  class="form-control"
                  type="password"
                  name="NewPassword"
                  [(ngModel)]="forgetPasswordModel.newPassword"
                />
              </div>
              <div class="col-sm-4 col-lg-4 col-md-4">
                <input
                  [disabled]="!enableresetNewPass"
                  placeholder="Confirm Password"
                  class="form-control"
                  type="password"
                  name="ConfirmPassword"
                  [(ngModel)]="forgetPasswordModel.confirmPassword"
                />
              </div>
              <div class="col-sm-3 col-lg-3 col-md-3">
                <button
                  (click)="resetPassword()"
                  [disabled]="!enableresetNewPass"
                  class="btn btn-primary center"
                  type="submit"
                >
                  Reset password
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer center"></div>
      </form>
    </div>
  </div>
</div>
<div id="preloader" *ngIf="loader == 1">
  <div id="loader"></div>
  <p class="text-muted" *ngIf="tick3Icon">
    Redirect to Login page within 3 sec...
  </p>
</div>
