h2,
h3 {
  margin: -12px 0;
}
.cd-timeline-content {
  margin-left: 162px;
  padding: 1.6em;
  width: 31%;
  background: linear-gradient(45deg, #72c2ff, #86f0ff) !important;
}
.cd-timeline-content.right {
  margin-right: 164px;
  /* margin-left: -71px; */
  padding: 1.6em;
  width: 31%;
  background: linear-gradient(45deg, #96ff72, #b2edc7) !important;
}
.cd-timeline-content.right,
.cd-timeline-content {
  border-radius: 30px;
}
.pull-center {
  margin: auto;
  width: 15%;
}
h4 {
  font-weight: 700;
}
i.fa.fa-hand-o-right,
i.fa.fa-hand-o-left {
  font-size: xx-large;
  /* padding: 0px; */
  margin: 15px;
  margin-top: 24px;
}
.cd-timeline-img.cd-left {
  background: linear-gradient(45deg, #96ff72, #b2edc7) !important;
}
.cd-timeline-img.cd-right {
  background: linear-gradient(45deg, #72c2ff, #86f0ff) !important;
}
.page-title {
  padding: 0;
  font-size: 24px;
  letter-spacing: -1px;
  display: block;
  color: #666;
  margin: 0 0 15px;
  font-weight: 300;
}
span.cd-date.rightDate {
  left: 128%;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
  left: auto;
  right: 127%;
  text-align: right;
}
.page-bar-history {
  padding: 30px;
  /* background-color: #f1f4f7; */
  margin-bottom: -98px;
  border-radius: 4px;
}
