<div class="container-fluid">
  <div class="page-bar">
    <div class="page-title-breadcrumb">
      <div class="pull-left"></div>
    </div>
  </div>

  <div class="tab-content tab-space">
    <div class="tab-pane active show" id="tab1">
      <div class="row">
        <div class="col-md-12">
          <div class="card-box">
            <div class="card-body">
              <div class="table-scrollable">
                <div class="row col-md-12 col-sm-12">
                  <div class="col-sm-4 col-md-4 text-muted">
                    Configurations / Business Unit
                  </div>
                  <div class="col-sm-2 col-md-2" style="font-size: 12px"></div>
                  <div class="col-sm-4 col-md-4" id="search">
                    <form
                      #sf="ngForm"
                      name="form"
                      novalidate
                      (ngSubmit)="searchbu(f)"
                    >
                      <div class="input-group mb-3">
                        <!-- <span class="input-group-text" id="basic-addon1"
                        >Search</span
                      > -->
                        <input
                          type="text"
                          maxlength="35"
                          [(ngModel)]="bu.keyword"
                          class="form-control"
                          name="keyword"
                          placeholder="Search Business Unit..."
                        />

                        &nbsp;
                        <input
                          type="submit"
                          style="
                            background-color: #706e6e !important;
                            color: white;
                          "
                          class="btn btn-xs searchbtn"
                          value="Search"
                        />
                        &nbsp; &nbsp;

                        <input
                          (click)="loadbu()"
                          type="button"
                          style="
                            background-color: #706e6e !important;
                            color: white;
                          "
                          class="btn btn-xs resetbtn"
                          value="Reset"
                        />
                      </div>
                    </form>
                  </div>
                  <div class="col-sm-2 col-md-2">
                    <ul class="nav navbar-nav pull-right">
                      <li class="dropdown dropdown-user">
                        <a
                          class="dropdown-toggle btn btn-primary btn-sm"
                          data-toggle="modal"
                          data-target="#addModal"
                          style="font-size: 12px"
                        >
                          <i class="fa fa-plus"></i>New Business Unit
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

                <table class="table table-hover table-checkable full-width">
                  <thead class="bg-listHeader">
                    <tr>
                      <th>#</th>
                      <th>Business Unit</th>
                      <th>Manager Name</th>
                      <th>Updated By</th>
                      <th>Updated On</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      class="odd gradeX"
                      *ngFor="
                        let item of buList
                          | paginate
                            : {
                                itemsPerPage: pageSize,
                                currentPage: page,
                                totalItems: count
                              };
                        let i = index
                      "
                    >
                      <td>{{ (page - 1) * pageSize + i + 1 }}</td>
                      <td>{{ item.businessUnitName }}</td>
                      <td>{{ item.managerName }}</td>
                      <td>{{ item.updatedByName }}</td>
                      <td>
                        {{ item.updatedDateTime + "Z" | date: "short" }}
                      </td>
                      <td>
                        <ul class="nav navbar-nav pull-left">
                          <li class="dropdown dropdown-user">
                            <a
                              class="dropdown-toggle btn btn-tbl-edit btn-xs"
                              data-toggle="modal"
                              (click)="getId(item.id)"
                              data-target="#exampleModal"
                            >
                              <i class="fa fa-pencil"></i>
                            </a>
                          </li>
                        </ul>
                        <ul class="nav navbar-nav pull-left">
                          <li class="dropdown dropdown-user">
                            <a
                              href="javascript:;"
                              data-toggle="dropdown"
                              data-hover="dropdown"
                              data-close-others="true"
                              class="dropdown-toggle btn btn-tbl-delete btn-xs"
                              aria-expanded="false"
                              ><i class="fa fa-trash-o"></i
                            ></a>
                            <ul
                              class="dropdown-menu dropdown-menu-default jello"
                            >
                              <li>
                                <div class="card-body">
                                  <label
                                    >Sure You Want to Delete the Business Unit? </label
                                  ><br />
                                  <button
                                    (click)="
                                      deletebu(item.id, item.businessUnitName)
                                    "
                                    type="button"
                                    class="btn btn-circle btn-danger"
                                  >
                                    Yes
                                  </button>
                                  <button
                                    type="button"
                                    class="btn btn-circle btn-info"
                                  >
                                    No
                                  </button>
                                </div>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br />
              <div
                class="row col-md-12 col-sm-12 col-lg-12"
                style="height: 32px"
              >
                <div class="col-md-4 col-sm-4 col-lg-4" style="font-size: 14px">
                  Items per Page:
                  <select (change)="handlePageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                      {{ size }}
                    </option>
                  </select>
                </div>
                <div
                  class="col-md-4 col-sm-4 col-lg-4 text-muted"
                  style="font-size: 14px"
                >
                  Total No.of Record(s): {{ buList?.length }}
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 pull-right">
                  <pagination-controls
                    previousLabel="Prev"
                    nextLabel="Next"
                    responsive="true"
                    (pageChange)="handlePageChange($event)"
                  ></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- update Modal -->
    <div
      class="modal fade"
      data-backdrop="static"
      data-keyboard="false"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h4 class="modal-title" id="exampleModalLabel">
              Edit Business Unit
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="clearBUField()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #uf="ngForm" name="form" novalidate (ngSubmit)="updatebu(uf)">
              <br />
              <label for="Customer"
                >Business Unit&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-landmark"></i
                ></span>
                <input
                  type="text"
                  maxlength="35"
                  class="form-control"
                  name="businessUnitName"
                  [(ngModel)]="bu.businessUnitName"
                  required
                  #businessUnitName="ngModel"
                  [ngClass]="{
                    'is-invalid': uf.submitted && businessUnitName.invalid
                  }"
                />
                <div
                  *ngIf="uf.submitted && businessUnitName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="businessUnitName.errors.required">
                    Business Unit is required
                  </div>
                </div>
              </div>
              <label for="Customer"
              >Manager Name&nbsp;<span style="color: red">*</span></label
            >
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa fa-landmark"></i
              ></span>
              <select
                class="form-select"
                name="managerId"
                [(ngModel)]="bu.managerId"
                required
                #managerId="ngModel"
                [ngClass]="{
                  'is-invalid': uf.submitted && managerId.invalid
                }"
              >
                <option
                  class="dropdown-item"
                  disabled
                  selected
                  value="undefined"
                >
                  Select Manager Name
                </option>
                <option *ngFor="let item of managersList" value="{{ item.id }}">
                  {{ item.fullName }}
                </option>
              </select>
              <div
                *ngIf="uf.submitted && managerId.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="managerId.errors.required">
                  Manager Name is required
                </div>
              </div>
            </div>
              <br />
              <input
                type="submit"
                class="btn btn-circle btn-primary"
                value="update"
              />
            </form>
            <br />
          </div>
        </div>
      </div>
    </div>

    <!-- add Modal -->
    <div
      class="modal fade"
      data-backdrop="static"
      data-keyboard="false"
      id="addModal"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog">
        <form #f="ngForm" name="form" novalidate (ngSubmit)="addNewbu(f)">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h4 class="modal-title" id="exampleModalLabel">
                Add Business Unit
              </h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="resetForm(f)"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <br />
              <label for="Customer"
                >Business Unit&nbsp;<span style="color: red">*</span></label
              >
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fa fa-landmark"></i
                ></span>
                <input
                  type="text"
                  maxlength="35"
                  class="form-control"
                  name="businessUnitName"
                  [(ngModel)]="bu.businessUnitName"
                  required
                  #businessUnitName="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && businessUnitName.invalid
                  }"
                />
                <div
                  *ngIf="f.submitted && businessUnitName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="businessUnitName.errors.required">
                    Business Unit is required
                  </div>
                </div>
              </div>
              <br />
              <label for="Customer"
              >Manager Name&nbsp;<span style="color: red">*</span></label
            >
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa fa-landmark"></i
              ></span>
              <select
                class="form-select"
                name="managerId"
                [(ngModel)]="bu.managerId"
                required
                #managerId="ngModel"
                [ngClass]="{
                  'is-invalid': f.submitted && managerId.invalid
                }"
              >
                <option
                  class="dropdown-item"
                  disabled
                  selected
                  value="undefined"
                >
                  Select Manager Name
                </option>
                <option *ngFor="let item of managersList" value="{{ item.id }}">
                  {{ item.fullName }}
                </option>
              </select>
              <div
                *ngIf="f.submitted && managerId.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="managerId.errors.required">
                  Manager Name is required
                </div>
              </div>
            </div>
              <br />
              <input
                type="submit"
                class="btn btn-circle btn-primary"
                value="save"
              />
              <br />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="preloader" *ngIf="loader == 1">
  <div id="loader"></div>
</div>
